.buckets-index{
  .page{
    margin-top: 25px;
    margin-bottom: 45px;
  }
  .form-group{
    .row{
      margin: 0 auto;
      min-width: 250px;
      .input{
        border-radius: 5px;
        border: none;
      }
    }
  }
  .wishes{
    margin-top: 60px;
    ol{
      padding: 0;
      width: calc(100vw - 280px);
      margin: 0;
      .lists{
        margin-bottom: 30px;
        li{
          min-width: 230px;
          margin-left: 5px;
          border-radius: 10px;
          max-height: 75px;
          word-wrap: break-word;
          overflow: scroll;
        }
          .btn{
            width: 58px;
            margin-top: 5.5px;
        }
      }
    }
  }
}