*{
  font-family: 'メイリオ', sans-serif;
}

.wrap{
  display: flex;
  height: 100vh;
  .sidebar{
    background-color: #363636;
    width: 180px;
    text-align: center;
    overflow: scroll;
    ul{
      padding-left: 0;
      li{
        margin-top: 30px;
        }
        .title{
          margin-top: 50px;
        }
        .goal{
          margin-top: 150px;
        }
        a{
          color: rgba(240, 234, 234, 0.89);
          text-decoration: none;
          font-weight: bold;
        }
        a:hover{
          color: white;
        }
      }
      .logout{
        margin-top: 200px;
        border: none;
        background-color: #363636;
        color: rgba(240, 234, 234, 0.89);
        font-weight: bold;
      }
      .logout:hover{
        color: white;
      }
    }
  .main{
    background-color: #f5f8fa;
    width: calc(100vw - 180px);
    padding: 20px 50px;
    overflow: scroll;
    
  }
}