.welcome-page{
  h1{
  font-family: 'roboto', sans-serif;
    font-weight: 600;
    font-size: 80px;
    text-align: center;
    margin: 30px auto 30px;
    color: rgba(0, 0, 0, 0.747);
  }
  div{
    margin-bottom: 30px;
  }
  p{
    text-align: center;
    line-height: 40px;
    margin-bottom: 30px;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.658);
    strong{
      color: black;
    }
    span{
      font-weight: bold;
      font-size: 17px;
      margin-right: 5px;
    }
  }
  .explanation{
    padding-left: 180px;
    span{ 
      font-size: 20px;
      margin-bottom: 30px;
      display: block;
      a{
        width: 138px;
      }
    }
  }
  
  @media only screen and (max-width: 720px){
    
    .explanation{ padding-left: 30px; }
  }
}