.welcome-page{
  h1{
  font-family: 'roboto', sans-serif;
    font-weight: 600;
    font-size: 80px;
    text-align: center;
    margin: 60px auto 80px;
  }
  p{
    text-align: center;
    line-height: 30px;
    margin-bottom: 80px;
  }
  .explanation{
    padding-left: 180px;
    span{ 
      font-size: 20px;
      margin-bottom: 30px;
      display: block;
      a{
        width: 138px;
      }
    }
  }
  
  @media only screen and (max-width: 720px){
    
    .explanation{ padding-left: 30px; }
  }
}