* {
  font-family: 'メイリオ', sans-serif;
}
.wrap {
  display: flex;
  height: 100vh;
}
.wrap .sidebar {
  background-color: #363636;
  width: 180px;
  text-align: center;
  overflow: scroll;
}
.wrap .sidebar ul {
  padding-left: 0;
}
.wrap .sidebar ul li {
  margin-top: 30px;
}
.wrap .sidebar ul .title {
  margin-top: 50px;
}
.wrap .sidebar ul .goal {
  margin-top: 150px;
}
.wrap .sidebar ul a {
  color: rgba(240, 234, 234, 0.89);
  text-decoration: none;
  font-weight: bold;
}
.wrap .sidebar ul a:hover {
  color: white;
}
.wrap .sidebar .logout {
  margin-top: 200px;
  border: none;
  background-color: #363636;
  color: rgba(240, 234, 234, 0.89);
  font-weight: bold;
}
.wrap .sidebar .logout:hover {
  color: white;
}
.wrap .main {
  background-color: #f5f8fa;
  width: calc(100vw - 180px);
  padding: 20px 50px;
  overflow: scroll;
}
