.create-page .page {
  margin-top: 25px;
  margin-bottom: 40px;
}
.create-page .page span {
  font-size: 15px;
  margin-left: 15px;
  color: #696868;
}
.create-page .form-group input {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.13);
}
.create-page .form-group .goal {
  font-size: 20px;
}
.create-page .form-group .date {
  font-size: 20px;
}
.create-page .form-group .date small {
  font-size: 10px;
  margin-left: 15px;
}
.create-page .form-group .time {
  font-size: 20px;
}
.create-page .form-group .time small {
  font-size: 10px;
  margin-left: 15px;
}
.create-page .form-group .time-input {
  margin-bottom: 40px;
}
