.user-show .page {
  margin-top: 25px;
  margin-bottom: 30px;
}
.user-show .page span {
  font-size: 15px;
  margin-left: 15px;
  color: #696868;
}
.user-show .user {
  margin-bottom: 30px;
}
.user-show .user .user-photo {
  padding-left: 20px;
  margin-bottom: 0;
}
.user-show .user .user-photo img {
  display: block;
  height: 220px;
  width: 220px;
  margin: 0 auto 20px;
}
.user-show .user .user-photo input {
  display: block;
  margin-left: 30%;
}
.user-show .user .user-description p {
  min-width: 200px;
  margin-bottom: 30px;
}
.user-show .goals h5 {
  text-shadow: 1px 2px 2px #cecccc;
}
.user-show .goals .content div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.226);
}
.user-show .goals .content span {
  vertical-align: middle;
}
.user-show .goals .content a {
  margin-left: 10px;
}
