.welcome-page h1 {
  font-weight: 600;
  font-size: 80px;
  text-align: center;
  margin: 80px auto 90px;
}
.welcome-page .explanation {
  margin-bottom: 100px;
  padding-left: 180px;
}
.welcome-page .explanation div {
  font-size: 20px;
  margin-bottom: 30px;
}
.welcome-page .buttons {
  margin-left: 55px;
}
@media only screen and (max-width: 720px) {
  .welcome-page .explanation {
    padding-left: 30px;
  }
  .welcome-page .buttons {
    margin-left: 40px;
  }
}
